<!DOCTYPE html>
<html>
  <head>
    <title><%= @pagename %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
  <body>
    <%= yield %>
    <div id="credits">Based on Peter Norvig's <a href="http://www.norvig.com/paip/README.html">LISP implementation</a></div>
    </body>
</html>
